body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content{
    width: 50%;
    min-height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1vw;
}

button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.newbtn[disabled]{
    cursor:not-allowed;
    background: rgb(244, 112, 112);
}

#result{
    position: absolute;
    top:35vw;
    
}